* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.the-sidebar-container {
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0;
}

.dashboard-cards-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.dashboard-graphs-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
